In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tqdm.auto import tqdm
import re
import copy
import warnings
warnings.filterwarnings('ignore')

In [2]:
plt.style.use('seaborn')

In [3]:
ls drive/MyDrive/ВКР_Рекомендательная_система/

'!03&04_17_VSE.csv'   города_для_регионов.xlsx

In [4]:
df = pd.read_csv('drive/MyDrive/ВКР_Рекомендательная_система/!03&04_17_VSE.csv', encoding='cp1251', sep=';')

In [5]:
df.head(10)

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,СуммаДоставки,НомерСтроки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа
0,01.03.2017 11:41,07.03.2017 0:00,3998972_TR,Частичный возврат,12 098,12 247,Курьерская,Наличная,Москва,КРУПНОГАБАРИТНЫЙ ТОВАР,...,0,8,1,28.02.2017 0:00,55574854-48574951555577,106117_ju18@yandex.ru,Юлия,ID9010020114553,0,NaN
1,01.03.2017 12:22,15.03.2017 0:00,3999117_TR,Доставлен,4 819,3 759,Магазины,Безналичная,Челябинск,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,0,3,1,01.03.2017 0:00,55575453-56535648535679,107117_ku16@list.ru,Гость,IDL00028974351,0,NaN
2,01.03.2017 12:31,17.03.2017 0:00,3999122_TR,Доставлен,3 325,3 325,Магазины,Безналичная,Нижневартовск,ИГРУШКИ,...,0,1,1,01.03.2017 0:00,55574950-57515657535772,109117_mu17@mail.ru,Гость,IDL00038573351,0,NaN
3,01.03.2017 3:06,02.03.2017 0:00,3999363_TR,К отгрузке,4 998,4 998,Курьерская,Наличная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,0,4,0,01.03.2017 0:00,55574851-55545249535475,115117_su13@mail.ru,Гость,IDL00034303856,0,NaN
4,01.03.2017 11:38,14.03.2017 0:00,3999411_TR,Доставлен,528,528,Магазины,Безналичная,Ижевск,ИГРУШКИ,...,0,3,1,01.03.2017 0:00,55574854-56495552515179,guest_103117_gu28@workmail.ru,Гость,IDL00035791553,0,NaN
5,01.03.2017 12:19,07.03.2017 0:00,3999682_TR,К отгрузке,2 962,2 962,Курьерская,Наличная,Москва,ИГРУШКИ,...,0,3,1,01.03.2017 0:00,55574851-53495753545674,97117_au30@yandex.ru,Мария,IDL00026934452,0,NaN
6,01.03.2017 12:19,07.03.2017 0:00,3999682_TR,К отгрузке,2 962,2 962,Курьерская,Наличная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,0,4,1,01.03.2017 0:00,55574851-53495753545674,97117_au30@yandex.ru,Мария,IDL00031393654,0,NaN
7,01.03.2017 11:57,09.03.2017 0:00,3999687_TR,Частичный возврат,19 991,19 991,Курьерская,Наличная,Москва,"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",...,300,10,1,01.03.2017 0:00,55574853-53565050515377,111117_ou23@workmail.ru,Николаева,IDL00011556856,0,NaN
8,01.03.2017 9:02,03.03.2017 0:00,3999713_TR,Доставлен,1 196,1 196,Магазины,Безналичная,Подольск (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,49,3,1,01.03.2017 0:00,55574948-52515357485779,111117_ou25@yandex.ru,Ольга,IDL00025316250,0,NaN
9,01.03.2017 9:02,03.03.2017 0:00,3999713_TR,Доставлен,1 196,1 196,Магазины,Безналичная,Подольск (Московская область район),"ТЕКСТИЛЬ, ТРИКОТАЖ",...,49,2,1,01.03.2017 0:00,55574948-52515357485779,111117_ou25@yandex.ru,Ольга,IDL00025320553,0,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691539 entries, 0 to 691538
Data columns (total 38 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Дата                      691539 non-null  object
 1   ДатаДоставки              690913 non-null  object
 2   НомерЗаказаНаСайте        691535 non-null  object
 3   НовыйСтатус               691539 non-null  object
 4   СуммаЗаказаНаСайте        691539 non-null  object
 5   СуммаДокумента            691539 non-null  object
 6   МетодДоставки             691539 non-null  object
 7   ФормаОплаты               691539 non-null  object
 8   Регион                    686397 non-null  object
 9   Группа2                   616853 non-null  object
 10  Группа3                   616853 non-null  object
 11  Группа4                   585914 non-null  object
 12  Тип                       691539 non-null  object
 13  Номенклатура              691539 non-null  object
 14  ТипТовара                 616849 non-null  object
 15  Отменено                  691539 non-null  object
 16  ПричинаОтмены             66703 non-null   object
 17  Количество                691539 non-null  int64
 18  Цена                      691539 non-null  object
 19  СуммаСтроки               691539 non-null  object
 20  ЦенаЗакупки               614626 non-null  object
 21  МесяцДатыЗаказа           691539 non-null  int64
 22  ГодДатыЗаказа             691539 non-null  object
 23  ПВЗ_код                   462653 non-null  object
 24  Статус                    691539 non-null  object
 25  Гео                       691539 non-null  object
 26  Маржа                     614626 non-null  object
 27  СуммаУслуг                691539 non-null  object
 28  СуммаДоставки             691539 non-null  object
 29  НомерСтроки               691539 non-null  int64
 30  КоличествоПроданоКлиенту  691539 non-null  int64
 31  ДатаЗаказаНаСайте         691535 non-null  object
 32  Телефон_new               691539 non-null  object
 33  ЭлектроннаяПочта_new      678422 non-null  object
 34  Клиент                    691165 non-null  object
 35  ID_SKU                    691539 non-null  object
 36  ГородМагазина             691539 non-null  object
 37  МагазинЗаказа             4983 non-null    object
dtypes: int64(4), object(34)
memory usage: 200.5+ MB

In [7]:
# изменим типы на нужные
arr_to_numeric = ['СуммаЗаказаНаСайте', 'СуммаДокумента', 'Цена',
       'СуммаСтроки', 'ЦенаЗакупки', 'Маржа', 'СуммаУслуг', 'СуммаДоставки']

for i in arr_to_numeric:
    df[i] = df[i].replace(r'\s+','',regex=True).replace(r',','.',regex=True).astype('float64')

In [8]:
# columns_interesting = ['НовыйСтатус', 'МетодДоставки', 'ФормаОплаты', 'Группа2', 'Группа3', 'Группа4', 'Тип',
#        'ТипТовара', 'Отменено', 'ПричинаОтмены', 'ПВЗ_код', 'Статус', 'Гео']
# for i in columns_interesting:
#     print(i,df[i].unique(),'\n')

In [9]:
#df.groupby(['Группа2']).agg({"СуммаСтроки": np.sum,"НомерЗаказаНаСайте": pd.Series.nunique})

In [10]:
df[df.Группа2.isnull()==True]['СуммаСтроки'].sum() # сумма доставки в датасете

9588112.0

In [11]:
df_without_delivery = df[df.Группа2.isnull()==False]#без услуг
df_without_delivery.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 616853 entries, 0 to 691538
Data columns (total 38 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Дата                      616853 non-null  object
 1   ДатаДоставки              616230 non-null  object
 2   НомерЗаказаНаСайте        616849 non-null  object
 3   НовыйСтатус               616853 non-null  object
 4   СуммаЗаказаНаСайте        616853 non-null  float64
 5   СуммаДокумента            616853 non-null  float64
 6   МетодДоставки             616853 non-null  object
 7   ФормаОплаты               616853 non-null  object
 8   Регион                    611798 non-null  object
 9   Группа2                   616853 non-null  object
 10  Группа3                   616853 non-null  object
 11  Группа4                   585914 non-null  object
 12  Тип                       616853 non-null  object
 13  Номенклатура              616853 non-null  object
 14  ТипТовара                 616849 non-null  object
 15  Отменено                  616853 non-null  object
 16  ПричинаОтмены             66703 non-null   object
 17  Количество                616853 non-null  int64
 18  Цена                      616853 non-null  float64
 19  СуммаСтроки               616853 non-null  float64
 20  ЦенаЗакупки               614626 non-null  float64
 21  МесяцДатыЗаказа           616853 non-null  int64
 22  ГодДатыЗаказа             616853 non-null  object
 23  ПВЗ_код                   414103 non-null  object
 24  Статус                    616853 non-null  object
 25  Гео                       616853 non-null  object
 26  Маржа                     614626 non-null  float64
 27  СуммаУслуг                616853 non-null  float64
 28  СуммаДоставки             616853 non-null  float64
 29  НомерСтроки               616853 non-null  int64
 30  КоличествоПроданоКлиенту  616853 non-null  int64
 31  ДатаЗаказаНаСайте         616849 non-null  object
 32  Телефон_new               616853 non-null  object
 33  ЭлектроннаяПочта_new      605550 non-null  object
 34  Клиент                    616578 non-null  object
 35  ID_SKU                    616853 non-null  object
 36  ГородМагазина             616853 non-null  object
 37  МагазинЗаказа             4953 non-null    object
dtypes: float64(8), int64(4), object(26)
memory usage: 183.5+ MB

In [12]:
nan_indexes_Регион = df_without_delivery[df_without_delivery.Регион.isnull()].index #заполинили пустоты в регионах
df_without_delivery.loc[nan_indexes_Регион, 'Регион'] = pd.Series(df_without_delivery['ГородМагазина'].loc[nan_indexes_Регион], index=nan_indexes_Регион)

In [13]:
df_without_delivery['Регион'].value_counts()

Москва                           305477
Санкт-Петербург                   31106
Нижний Новгород                   16318
Самара                            13022
Екатеринбург                       9331
                                  ...
Семикаракорск                         1
Большой Камень                        1
Назарьево (Одинцовский район)         1
Волжск                                1
Гусев                                 1
Name: Регион, Length: 527, dtype: int64

In [14]:
df_without_delivery.Регион.replace('0', np.nan, inplace=True) #убирает нулевой регион
df_without_delivery.Регион.replace('nan', np.nan, inplace=True) #убирает нулевой регион
df_without_delivery.ГородМагазина.replace('0', np.nan, inplace=True) #убирает нулевой магазин

In [15]:
nan_price = df_without_delivery[df_without_delivery.ЦенаЗакупки.isnull()]['ID_SKU'].unique()

for i in range(len(nan_price)):
    arr_i = np.sort(df_without_delivery[df_without_delivery.ID_SKU==nan_price[i]]['ЦенаЗакупки'].unique())
    if len(arr_i)>1: #заполнили пропуски на продуктах, где нашлась хоть одна цена, а это почти 700 строк
        a = df_without_delivery[df_without_delivery.ID_SKU==nan_price[i]].copy()
        cname = 'ЦенаЗакупки'
        prev_value = None
        for i, row in a.iterrows():
            if not np.isnan(row[cname]):
                prev_value = row[cname]
                break
        assert not prev_value is None

        for i, row in a.iterrows():
            if np.isnan(row[cname]):
                df_without_delivery.at[i, cname] = prev_value
            else:
                prev_value = row[cname]

In [16]:
a = df_without_delivery[df_without_delivery.Маржа.isnull()]#заполнили пропуски в маржа
for i, row in a.iterrows():
    if (not np.isnan(row['Цена']))&(not np.isnan(row['ЦенаЗакупки'])):
        df_without_delivery.at[i, 'Маржа'] = row['Цена'] - row['ЦенаЗакупки']

In [17]:
arr_nan_ = df_without_delivery[df_without_delivery.Маржа.isnull()].НомерЗаказаНаСайте.unique()
df_without_delivery.drop(df_without_delivery[df_without_delivery.НомерЗаказаНаСайте.isin(arr_nan_)].index, inplace=True) #удаляем чеки без ценызакупки
df_without_delivery.reset_index(drop=True)

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,СуммаДоставки,НомерСтроки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа
0,01.03.2017 11:41,07.03.2017 0:00,3998972_TR,Частичный возврат,12098.0,12247.0,Курьерская,Наличная,Москва,КРУПНОГАБАРИТНЫЙ ТОВАР,...,0.0,8,1,28.02.2017 0:00,55574854-48574951555577,106117_ju18@yandex.ru,Юлия,ID9010020114553,NaN,NaN
1,01.03.2017 12:22,15.03.2017 0:00,3999117_TR,Доставлен,4819.0,3759.0,Магазины,Безналичная,Челябинск,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,0.0,3,1,01.03.2017 0:00,55575453-56535648535679,107117_ku16@list.ru,Гость,IDL00028974351,NaN,NaN
2,01.03.2017 12:31,17.03.2017 0:00,3999122_TR,Доставлен,3325.0,3325.0,Магазины,Безналичная,Нижневартовск,ИГРУШКИ,...,0.0,1,1,01.03.2017 0:00,55574950-57515657535772,109117_mu17@mail.ru,Гость,IDL00038573351,NaN,NaN
3,01.03.2017 3:06,02.03.2017 0:00,3999363_TR,К отгрузке,4998.0,4998.0,Курьерская,Наличная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,0.0,4,0,01.03.2017 0:00,55574851-55545249535475,115117_su13@mail.ru,Гость,IDL00034303856,NaN,NaN
4,01.03.2017 11:38,14.03.2017 0:00,3999411_TR,Доставлен,528.0,528.0,Магазины,Безналичная,Ижевск,ИГРУШКИ,...,0.0,3,1,01.03.2017 0:00,55574854-56495552515179,guest_103117_gu28@workmail.ru,Гость,IDL00035791553,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607221,17.04.2017 9:54,24.05.2017 0:00,4411156_TR,Принят в ПВЗ,3240.0,3240.0,Магазины,Безналичная,Чита,КРУПНОГАБАРИТНЫЙ ТОВАР,...,0.0,1,1,17.04.2017 0:00,55574952-51535652495475,guest_103117_gu28@workmail.ru,Гость,IDL00040855553,NaN,NaN
607222,17.04.2017 10:10,19.04.2017 0:00,4411268_TR,Доставлен,1377.0,1377.0,Магазины,Безналичная,Москва,ИГРУШКИ,...,49.0,2,1,17.04.2017 0:00,55575054-53545152544971,guest_103117_gu28@workmail.ru,Гость,IDL00013484149,NaN,NaN
607223,17.04.2017 11:03,27.04.2017 0:00,4411571_TR,Доставлен,1098.0,2086.0,Магазины,Безналичная,Нижний Новгород,КОСМЕТИКА/ГИГИЕНА,...,0.0,1,1,17.04.2017 0:00,55575448-49564957485078,97117_au19@mail.ru,Анна,IDL00026050250,NaN,NaN
607224,17.04.2017 11:03,27.04.2017 0:00,4411571_TR,Доставлен,1098.0,2086.0,Магазины,Безналичная,Нижний Новгород,КОСМЕТИКА/ГИГИЕНА,...,0.0,2,1,17.04.2017 0:00,55575448-49564957485078,97117_au19@mail.ru,Анна,IDL00026050654,NaN,NaN
607225,17.04.2017 10:41,24.04.2017 0:00,4411576_TR,Доставлен,13349.0,13349.0,Магазины,Безналичная,Москва,ИГРУШКИ,...,0.0,2,1,17.04.2017 0:00,55575455-49525649535277,100117_du13@mail.ru,Евгения,IDL00028050856,NaN,NaN

In [18]:
df_town = pd.read_excel('drive/MyDrive/ВКР_Рекомендательная_система/города_для_регионов.xlsx')
df_town.head(5)

    Регион               Субъект         Город
0  CENTRAL  Белгородская область    Алексеевка
1  CENTRAL  Белгородская область      Белгород
2  CENTRAL  Белгородская область       Валуйки
3  CENTRAL  Белгородская область        Губкин
4  CENTRAL  Белгородская область  Старый Оскол

In [19]:
df_without_delivery.rename({'Регион': 'Город'}, axis=1, inplace=True)

In [20]:
new_df= df_without_delivery.Город.str.split('(',expand=True) # группировка по регионам
new_df.columns=['Город','component1','component2']
new_df.drop(['component1','component2'],axis=1,inplace=True)

for i, row in new_df.iterrows():
    new_df.at[i, 'Город'] = re.sub(' $', '', str(row['Город']))

In [21]:
df_without_delivery['Город'] = new_df['Город']
df_without_delivery = pd.merge(df_without_delivery, df_town.drop(['Субъект'], axis=1), on ='Город', how ='left')

In [22]:
df_without_delivery.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 607226 entries, 0 to 607225
Data columns (total 39 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Дата                      607226 non-null  object
 1   ДатаДоставки              606612 non-null  object
 2   НомерЗаказаНаСайте        607222 non-null  object
 3   НовыйСтатус               607226 non-null  object
 4   СуммаЗаказаНаСайте        607226 non-null  float64
 5   СуммаДокумента            607226 non-null  float64
 6   МетодДоставки             607226 non-null  object
 7   ФормаОплаты               607226 non-null  object
 8   Город                     607226 non-null  object
 9   Группа2                   607226 non-null  object
 10  Группа3                   607226 non-null  object
 11  Группа4                   576554 non-null  object
 12  Тип                       607226 non-null  object
 13  Номенклатура              607226 non-null  object
 14  ТипТовара                 607222 non-null  object
 15  Отменено                  607226 non-null  object
 16  ПричинаОтмены             65134 non-null   object
 17  Количество                607226 non-null  int64
 18  Цена                      607226 non-null  float64
 19  СуммаСтроки               607226 non-null  float64
 20  ЦенаЗакупки               607226 non-null  float64
 21  МесяцДатыЗаказа           607226 non-null  int64
 22  ГодДатыЗаказа             607226 non-null  object
 23  ПВЗ_код                   408349 non-null  object
 24  Статус                    607226 non-null  object
 25  Гео                       607226 non-null  object
 26  Маржа                     607226 non-null  float64
 27  СуммаУслуг                607226 non-null  float64
 28  СуммаДоставки             607226 non-null  float64
 29  НомерСтроки               607226 non-null  int64
 30  КоличествоПроданоКлиенту  607226 non-null  int64
 31  ДатаЗаказаНаСайте         607222 non-null  object
 32  Телефон_new               607226 non-null  object
 33  ЭлектроннаяПочта_new      596003 non-null  object
 34  Клиент                    606957 non-null  object
 35  ID_SKU                    607226 non-null  object
 36  ГородМагазина             4915 non-null    object
 37  МагазинЗаказа             4915 non-null    object
 38  Регион                    607124 non-null  object
dtypes: float64(8), int64(4), object(27)
memory usage: 185.3+ MB

In [23]:
# выкупленные товары
df_clean = df_without_delivery[(df_without_delivery.НовыйСтатус=='Доставлен')&(df_without_delivery.Статус=='Доставлен')&(df_without_delivery.Отменено=='Нет')&(df_without_delivery.КоличествоПроданоКлиенту>0)]
df_clean.reset_index(drop=True)

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Город,Группа2,...,НомерСтроки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа,Регион
0,01.03.2017 12:22,15.03.2017 0:00,3999117_TR,Доставлен,4819.0,3759.0,Магазины,Безналичная,Челябинск,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,3,1,01.03.2017 0:00,55575453-56535648535679,107117_ku16@list.ru,Гость,IDL00028974351,NaN,NaN,URAL
1,01.03.2017 12:31,17.03.2017 0:00,3999122_TR,Доставлен,3325.0,3325.0,Магазины,Безналичная,Нижневартовск,ИГРУШКИ,...,1,1,01.03.2017 0:00,55574950-57515657535772,109117_mu17@mail.ru,Гость,IDL00038573351,NaN,NaN,URAL
2,01.03.2017 11:38,14.03.2017 0:00,3999411_TR,Доставлен,528.0,528.0,Магазины,Безналичная,Ижевск,ИГРУШКИ,...,3,1,01.03.2017 0:00,55574854-56495552515179,guest_103117_gu28@workmail.ru,Гость,IDL00035791553,NaN,NaN,PRIVOLZIE
3,01.03.2017 9:02,03.03.2017 0:00,3999713_TR,Доставлен,1196.0,1196.0,Магазины,Безналичная,Подольск,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,3,1,01.03.2017 0:00,55574948-52515357485779,111117_ou25@yandex.ru,Ольга,IDL00025316250,NaN,NaN,CENTRAL
4,01.03.2017 9:02,03.03.2017 0:00,3999713_TR,Доставлен,1196.0,1196.0,Магазины,Безналичная,Подольск,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,2,1,01.03.2017 0:00,55574948-52515357485779,111117_ou25@yandex.ru,Ольга,IDL00025320553,NaN,NaN,CENTRAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212960,17.04.2017 3:18,28.04.2017 0:00,4410609_TR,Доставлен,2607.0,2607.0,Магазины,Безналичная,Краснодар,ПОДГУЗНИКИ,...,1,1,17.04.2017 0:00,55575449-53485056485678,95117__u17@mail.ru,Наталья,IDL00043781351,NaN,NaN,SOUTHERN
212961,17.04.2017 10:10,19.04.2017 0:00,4411268_TR,Доставлен,1377.0,1377.0,Магазины,Безналичная,Москва,ИГРУШКИ,...,2,1,17.04.2017 0:00,55575054-53545152544971,guest_103117_gu28@workmail.ru,Гость,IDL00013484149,NaN,NaN,CENTRAL
212962,17.04.2017 11:03,27.04.2017 0:00,4411571_TR,Доставлен,1098.0,2086.0,Магазины,Безналичная,Нижний Новгород,КОСМЕТИКА/ГИГИЕНА,...,1,1,17.04.2017 0:00,55575448-49564957485078,97117_au19@mail.ru,Анна,IDL00026050250,NaN,NaN,PRIVOLZIE
212963,17.04.2017 11:03,27.04.2017 0:00,4411571_TR,Доставлен,1098.0,2086.0,Магазины,Безналичная,Нижний Новгород,КОСМЕТИКА/ГИГИЕНА,...,2,1,17.04.2017 0:00,55575448-49564957485078,97117_au19@mail.ru,Анна,IDL00026050654,NaN,NaN,PRIVOLZIE
212964,17.04.2017 10:41,24.04.2017 0:00,4411576_TR,Доставлен,13349.0,13349.0,Магазины,Безналичная,Москва,ИГРУШКИ,...,2,1,17.04.2017 0:00,55575455-49525649535277,100117_du13@mail.ru,Евгения,IDL00028050856,NaN,NaN,CENTRAL

In [24]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212965 entries, 1 to 607225
Data columns (total 39 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Дата                      212965 non-null  object
 1   ДатаДоставки              212965 non-null  object
 2   НомерЗаказаНаСайте        212965 non-null  object
 3   НовыйСтатус               212965 non-null  object
 4   СуммаЗаказаНаСайте        212965 non-null  float64
 5   СуммаДокумента            212965 non-null  float64
 6   МетодДоставки             212965 non-null  object
 7   ФормаОплаты               212965 non-null  object
 8   Город                     212965 non-null  object
 9   Группа2                   212965 non-null  object
 10  Группа3                   212965 non-null  object
 11  Группа4                   204234 non-null  object
 12  Тип                       212965 non-null  object
 13  Номенклатура              212965 non-null  object
 14  ТипТовара                 212965 non-null  object
 15  Отменено                  212965 non-null  object
 16  ПричинаОтмены             0 non-null       object
 17  Количество                212965 non-null  int64
 18  Цена                      212965 non-null  float64
 19  СуммаСтроки               212965 non-null  float64
 20  ЦенаЗакупки               212965 non-null  float64
 21  МесяцДатыЗаказа           212965 non-null  int64
 22  ГодДатыЗаказа             212965 non-null  object
 23  ПВЗ_код                   212965 non-null  object
 24  Статус                    212965 non-null  object
 25  Гео                       212965 non-null  object
 26  Маржа                     212965 non-null  float64
 27  СуммаУслуг                212965 non-null  float64
 28  СуммаДоставки             212965 non-null  float64
 29  НомерСтроки               212965 non-null  int64
 30  КоличествоПроданоКлиенту  212965 non-null  int64
 31  ДатаЗаказаНаСайте         212965 non-null  object
 32  Телефон_new               212965 non-null  object
 33  ЭлектроннаяПочта_new      208499 non-null  object
 34  Клиент                    212893 non-null  object
 35  ID_SKU                    212965 non-null  object
 36  ГородМагазина             2556 non-null    object
 37  МагазинЗаказа             2556 non-null    object
 38  Регион                    212965 non-null  object
dtypes: float64(8), int64(4), object(27)
memory usage: 65.0+ MB

## Результаты по таблице без доставки (Размещенные товары)

In [54]:
def summary_all(x):
    result = {
        'Выручка': x['СуммаСтроки'].sum(),
        'Абсолютная Маржа': x['Маржа'].sum(),
        'Маржа (процентное соотношение)': x['Маржа'].sum() / x['СуммаСтроки'].sum(),
        'Количество чеков': x['НомерЗаказаНаСайте'].nunique(),
        'Количество товаров': x['Количество'].sum(),
        'Количество клиентов': x['Телефон_new'].nunique(),        
        'Средний чек': x['СуммаСтроки'].sum() / x['НомерЗаказаНаСайте'].nunique(),
        'Среднее количество товаров в чеке': x['Количество'].sum() / x['НомерЗаказаНаСайте'].nunique(),
        'Ценность клиента': x['Маржа'].sum() / x['Телефон_new'].nunique()
    }
    return pd.Series(result).round(3)

In [55]:
df_without_delivery.groupby(['МесяцДатыЗаказа']).apply(summary_all)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
МесяцДатыЗаказа,,,,,,,,,
3,3.118724e+08,72896419.38,0.234,91058.0,458420.0,66340.0,3424.986,5.034,1098.831
4,2.877302e+08,69936838.92,0.243,86225.0,456183.0,62905.0,3336.969,5.291,1111.785

In [49]:
print('кол-во новых клиентов в 4 месяце',len(df_without_delivery.Телефон_new.unique())-len(df_without_delivery[df_without_delivery.МесяцДатыЗаказа==3].Телефон_new.unique()))

кол-во новых клиентов в 4 месяце 47573

## Выкупленные товары

In [61]:
def summary_buy(x):
    result = {
        'Выручка': x['СуммаСтроки'].sum(),
        'Абсолютная Маржа': x['Маржа'].sum(),
        'Маржа (процентное соотношение)': x['Маржа'].sum() / x['СуммаСтроки'].sum(),
        'Количество чеков': x['НомерЗаказаНаСайте'].nunique(),
        'Количество товаров': x['КоличествоПроданоКлиенту'].sum(),
        'Количество клиентов': x['Телефон_new'].nunique(),        
        'Средний чек': x['СуммаСтроки'].sum() / x['НомерЗаказаНаСайте'].nunique(),
        'Среднее количество товаров в чеке': x['КоличествоПроданоКлиенту'].sum() / x['НомерЗаказаНаСайте'].nunique(),
        'Ценность клиента': x['Маржа'].sum() / x['Телефон_new'].nunique()
    }
    return pd.Series(result).round(3)

In [58]:
df_clean.groupby(['МесяцДатыЗаказа']).apply(summary_buy)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
МесяцДатыЗаказа,,,,,,,,,
3,1.148041e+08,25326488.84,0.221,37004.0,132813.0,31601.0,3102.479,3.589,801.446
4,1.168862e+08,27157483.44,0.232,38151.0,158473.0,32209.0,3063.777,4.154,843.164

In [53]:
print('кол-во новых клиентов в 4 месяце',len(df_clean.Телефон_new.unique())-len(df_clean[df_clean.МесяцДатыЗаказа==3].Телефон_new.unique()))

кол-во новых клиентов в 4 месяце 26148

## в разрезе по Группа2

In [63]:
df_without_delivery.groupby(['Группа2']).apply(summary_all)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
Группа2,,,,,,,,,
ДЕТСКОЕ ПИТАНИЕ,4.934997e+07,3097190.08,0.063,28231.0,384159.0,17447.0,1748.077,13.608,177.520
ЖЕНСКИЕ ШТУЧКИ,1.305300e+05,78719.65,0.603,449.0,962.0,394.0,290.713,2.143,199.796
ИГРУШКИ,8.166778e+07,18420626.32,0.226,53003.0,124634.0,41676.0,1540.814,2.351,441.996
"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",5.405406e+06,1209473.19,0.224,9141.0,30414.0,7591.0,591.336,3.327,159.330
КОСМЕТИКА/ГИГИЕНА,1.223070e+07,2040125.00,0.167,19349.0,64724.0,14450.0,632.110,3.345,141.185
КРУПНОГАБАРИТНЫЙ ТОВАР,2.232954e+08,67865478.64,0.304,34344.0,39873.0,27890.0,6501.731,1.161,2433.327
ОБУВЬ,3.465971e+07,12612802.82,0.364,14301.0,27392.0,10935.0,2423.586,1.915,1153.434
ПОДГУЗНИКИ,8.221621e+07,3180612.65,0.039,43531.0,81451.0,29112.0,1888.682,1.871,109.254
СОПУТСТВУЮЩИЕ ТОВАРЫ,4.258007e+05,147780.05,0.347,1003.0,1407.0,893.0,424.527,1.403,165.487
"ТЕКСТИЛЬ, ТРИКОТАЖ",8.844019e+07,31210619.14,0.353,35602.0,105275.0,25191.0,2484.135,2.957,1238.959
ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА,6.581400e+04,15874.19,0.241,51.0,95.0,48.0,1290.471,1.863,330.712
ТОВАРЫ ДЛЯ ЖИВОТНЫХ,4.240353e+06,22960.12,0.005,2789.0,17465.0,2178.0,1520.385,6.262,10.542
ТОВАРЫ ДЛЯ КОРМЛЕНИЯ,1.747462e+07,2930996.45,0.168,17358.0,36752.0,13954.0,1006.719,2.117,210.047

In [64]:
df_clean.groupby(['Группа2']).apply(summary_buy)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
Группа2,,,,,,,,,
ДЕТСКОЕ ПИТАНИЕ,1.100530e+07,684111.40,0.062,6914.0,77558.0,5197.0,1591.741,11.218,131.636
ЖЕНСКИЕ ШТУЧКИ,4.754700e+04,29271.34,0.616,174.0,386.0,161.0,273.259,2.218,181.810
ИГРУШКИ,3.463689e+07,7370593.02,0.213,24022.0,55077.0,21068.0,1441.882,2.293,349.848
"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",2.404163e+06,519841.89,0.216,4318.0,14039.0,3917.0,556.777,3.251,132.714
КОСМЕТИКА/ГИГИЕНА,4.520235e+06,744528.14,0.165,7668.0,23273.0,6535.0,589.493,3.035,113.929
КРУПНОГАБАРИТНЫЙ ТОВАР,1.014297e+08,30308779.91,0.299,15445.0,17921.0,14214.0,6567.154,1.160,2132.319
ОБУВЬ,7.087687e+06,2301751.71,0.325,4463.0,6189.0,3970.0,1588.099,1.387,579.786
ПОДГУЗНИКИ,3.502203e+07,760988.15,0.022,18570.0,35449.0,14315.0,1885.946,1.909,53.160
СОПУТСТВУЮЩИЕ ТОВАРЫ,1.840213e+05,57590.02,0.313,393.0,524.0,381.0,468.248,1.333,151.155
"ТЕКСТИЛЬ, ТРИКОТАЖ",2.576702e+07,8543767.62,0.332,13993.0,36320.0,11366.0,1841.422,2.596,751.695
ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА,1.189500e+04,2213.55,0.186,18.0,23.0,18.0,660.833,1.278,122.975
ТОВАРЫ ДЛЯ ЖИВОТНЫХ,2.395813e+06,-21559.96,-0.009,1598.0,8713.0,1324.0,1499.257,5.452,-16.284
ТОВАРЫ ДЛЯ КОРМЛЕНИЯ,7.178028e+06,1182095.49,0.165,7694.0,15814.0,6902.0,932.938,2.055,171.269

## в разрезе по Регион

In [70]:
df_without_delivery.groupby('Регион').apply(summary_all)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
Регион,,,,,,,,,
CENTRAL,3.729513e+08,88839801.70,0.238,103919.0,671007.0,68181.0,3588.866,6.457,1302.999
FAR EAST,4.074661e+06,803620.05,0.197,1351.0,10204.0,582.0,3016.033,7.553,1380.790
NORTH,4.068965e+07,9434054.89,0.232,14026.0,45120.0,9788.0,2901.016,3.217,963.839
PRIVOLZIE,7.539205e+07,17407284.26,0.231,27689.0,87344.0,16358.0,2722.816,3.154,1064.145
SIBERIA,3.604977e+07,8722119.16,0.242,10511.0,37353.0,6505.0,3429.718,3.554,1340.833
SOUTHERN,3.637688e+07,9112116.20,0.250,10224.0,33855.0,6327.0,3557.989,3.311,1440.195
URAL,3.391958e+07,8449684.38,0.249,9506.0,29610.0,6295.0,3568.229,3.115,1342.285

In [71]:
df_clean.groupby('Регион').apply(summary_buy)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
Регион,,,,,,,,,
CENTRAL,1.267530e+08,28313229.69,0.223,44384.0,201988.0,33578.0,2855.826,4.551,843.208
FAR EAST,1.492947e+06,297129.79,0.199,287.0,963.0,205.0,5201.905,3.355,1449.414
NORTH,1.506561e+07,3289878.77,0.218,5194.0,15265.0,4407.0,2900.580,2.939,746.512
PRIVOLZIE,3.882365e+07,8677230.64,0.224,13416.0,38467.0,9952.0,2893.832,2.867,871.908
SIBERIA,1.577011e+07,3756808.41,0.238,3617.0,9475.0,2984.0,4359.998,2.620,1258.984
SOUTHERN,1.695302e+07,4145647.94,0.245,4226.0,13658.0,3340.0,4011.598,3.232,1241.212
URAL,1.683198e+07,4004047.04,0.238,4031.0,11470.0,3321.0,4175.634,2.845,1205.675

## в разрезе по Город

In [75]:
df_without_delivery.groupby('Город').apply(summary_all)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
Город,,,,,,,,,
nan,148618.00,64577.66,0.435,57.0,110.0,49.0,2607.333,1.930,1317.911
Абакан,72019.00,31164.53,0.433,4.0,50.0,4.0,18004.750,12.500,7791.132
Абинск,3679.00,1450.36,0.394,1.0,4.0,1.0,3679.000,4.000,1450.360
Адлер,6463.00,1651.19,0.255,3.0,32.0,3.0,2154.333,10.667,550.397
Азов,11965.00,2403.36,0.201,4.0,13.0,4.0,2991.250,3.250,600.840
...,...,...,...,...,...,...,...,...,...
Южно-Сахалинск,95504.00,29142.94,0.305,18.0,76.0,15.0,5305.778,4.222,1942.863
Юрьевец,8140.00,2336.62,0.287,2.0,2.0,1.0,4070.000,1.000,2336.620
Якутск,101887.00,32218.36,0.316,12.0,63.0,11.0,8490.583,5.250,2928.942
Ярославль,5724553.04,1425175.54,0.249,1534.0,3715.0,1006.0,3731.782,2.422,1416.675
Яхрома,8945.00,4377.31,0.489,1.0,9.0,1.0,8945.000,9.000,4377.310

In [76]:
df_clean.groupby('Город').apply(summary_buy)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
Город,,,,,,,,,
Анискино,6284.00,1672.04,0.266,2.0,10.0,2.0,3142.000,5.000,836.020
Апрелевка,64372.00,7233.27,0.112,18.0,426.0,6.0,3576.222,23.667,1205.545
Архангельск,1371983.05,327213.77,0.238,298.0,798.0,232.0,4603.970,2.678,1410.404
Астрахань,1464316.65,356730.76,0.244,387.0,1015.0,310.0,3783.764,2.623,1150.744
Балаково,758587.30,206188.35,0.272,203.0,529.0,152.0,3736.883,2.606,1356.502
...,...,...,...,...,...,...,...,...,...
Электрогорск,17334.00,4542.84,0.262,7.0,23.0,7.0,2476.286,3.286,648.977
Электросталь,1213292.35,290896.58,0.240,449.0,1710.0,353.0,2702.210,3.808,824.070
Электроугли,13420.00,3092.97,0.230,5.0,10.0,4.0,2684.000,2.000,773.243
Юбилейный,66903.00,15047.91,0.225,32.0,130.0,24.0,2090.719,4.062,626.996
Ярославль,3076381.60,755825.21,0.246,702.0,1532.0,594.0,4382.310,2.182,1272.433

## В разрезе дни недели

In [77]:
from datetime import datetime

In [78]:
df_without_delivery['Дата_день'] = df_without_delivery.Дата.apply(lambda x: datetime.strptime(x,'%d.%m.%Y %H:%M').strftime("%A"))
df_without_delivery['Дата_час'] = df_without_delivery.Дата.apply(lambda x: datetime.strptime(x,'%d.%m.%Y %H:%M').strftime("%H"))

In [79]:
df_clean['Дата_день'] = df_clean.Дата.apply(lambda x: datetime.strptime(x,'%d.%m.%Y %H:%M').strftime("%A"))
df_clean['Дата_час'] = df_clean.Дата.apply(lambda x: datetime.strptime(x,'%d.%m.%Y %H:%M').strftime("%H"))

In [82]:
df_without_delivery.groupby('Дата_день').apply(summary_all)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
Дата_день,,,,,,,,,
Friday,82935039.62,20203216.99,0.244,24632.0,123505.0,21001.0,3366.963,5.014,962.012
Monday,85475196.38,19319706.00,0.226,25553.0,143363.0,21500.0,3345.016,5.610,898.591
Saturday,71164838.97,17720240.81,0.249,19332.0,90085.0,16624.0,3681.194,4.660,1065.943
Sunday,78067578.89,19594338.49,0.251,21521.0,103090.0,18616.0,3627.507,4.790,1052.554
Thursday,93860477.34,22246046.59,0.237,28465.0,148589.0,23988.0,3297.400,5.220,927.382
Tuesday,89102924.65,20820855.48,0.234,27146.0,144828.0,22877.0,3282.359,5.335,910.122
Wednesday,98996478.39,22928853.94,0.232,30634.0,161143.0,25544.0,3231.588,5.260,897.622

In [83]:
df_clean.groupby('Дата_день').apply(summary_buy)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
Дата_день,,,,,,,,,
Friday,29511149.43,6679172.61,0.226,9724.0,36929.0,9098.0,3034.878,3.798,734.136
Monday,32044483.57,6880758.51,0.215,10577.0,43315.0,9747.0,3029.638,4.095,705.936
Saturday,27937001.01,6804480.16,0.244,7732.0,26349.0,7332.0,3613.166,3.408,928.052
Sunday,31992321.24,7936123.82,0.248,9132.0,31206.0,8617.0,3503.320,3.417,920.985
Thursday,35612096.85,8008482.15,0.225,12054.0,47696.0,11142.0,2954.380,3.957,718.765
Tuesday,35087030.18,7617122.82,0.217,12156.0,49377.0,11236.0,2886.396,4.062,677.921
Wednesday,39506229.28,8557832.21,0.217,13780.0,56414.0,12570.0,2866.925,4.094,680.814

## В разрезе по часу

In [86]:
df_without_delivery.groupby('Дата_час').apply(summary_all)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
Дата_час,,,,,,,,,
00,7964529.33,1923338.30,0.241,2673.0,10903.0,2521.0,2979.622,4.079,762.927
01,20609.00,6986.45,0.339,7.0,67.0,7.0,2944.143,9.571,998.064
02,17287060.69,4090299.20,0.237,5571.0,29001.0,4897.0,3103.044,5.206,835.266
03,1610685.11,365031.42,0.227,654.0,3251.0,588.0,2462.821,4.971,620.802
04,2380484.95,573874.45,0.241,857.0,4251.0,787.0,2777.695,4.960,729.192
05,1407056.11,318793.21,0.227,540.0,2730.0,493.0,2605.659,5.056,646.639
06,2392998.87,537571.20,0.225,823.0,3334.0,750.0,2907.654,4.051,716.762
07,4513963.02,1048535.81,0.232,1500.0,6002.0,1396.0,3009.309,4.001,751.100
08,6594949.75,1530799.00,0.232,2408.0,8423.0,2244.0,2738.767,3.498,682.174
09,9104173.78,2254000.13,0.248,2873.0,12474.0,2680.0,3168.874,4.342,841.045
10,34582088.98,8309772.36,0.240,10130.0,51191.0,9155.0,3413.829,5.053,907.676
11,41578325.68,9810487.92,0.236,11870.0,65134.0,10771.0,3502.808,5.487,910.824
12,45193222.25,10728777.29,0.237,12645.0,68191.0,11452.0,3573.999,5.393,936.847
13,35010378.91,8240549.04,0.235,10000.0,54068.0,9106.0,3501.038,5.407,904.958
14,45276638.10,10846762.65,0.240,12896.0,64882.0,11615.0,3510.906,5.031,933.858
15,46611590.11,11163672.80,0.240,13604.0,67575.0,12307.0,3426.315,4.967,907.099
16,45110516.28,10835578.98,0.240,12867.0,67454.0,11602.0,3505.908,5.242,933.941
17,43829063.48,10586148.66,0.242,12978.0,69685.0,11730.0,3377.182,5.369,902.485
18,45791427.83,10995578.37,0.240,13060.0,66288.0,11807.0,3506.235,5.076,931.276
19,40682076.19,9801864.80,0.241,11668.0,59422.0,10506.0,3486.637,5.093,932.978
20,36521530.10,8932462.64,0.245,10689.0,53411.0,9654.0,3416.740,4.997,925.260
21,30649895.54,7233785.17,0.236,9482.0,49586.0,8546.0,3232.429,5.229,846.453
22,28852466.46,6608673.52,0.229,9253.0,49465.0,8339.0,3118.174,5.346,792.502
23,26636803.72,6089914.93,0.229,8235.0,47815.0,7407.0,3234.585,5.806,822.184

In [87]:
df_clean.groupby('Дата_час').apply(summary_buy)

,Выручка,Абсолютная Маржа,Маржа (процентное соотношение),Количество чеков,Количество товаров,Количество клиентов,Средний чек,Среднее количество товаров в чеке,Ценность клиента
Дата_час,,,,,,,,,
00,4280637.08,951646.82,0.222,1404.0,5911.0,1376.0,3048.887,4.210,691.604
01,1849.00,499.00,0.270,1.0,1.0,1.0,1849.000,1.000,499.000
02,8133295.09,1680879.12,0.207,2991.0,15408.0,2797.0,2719.256,5.151,600.958
03,715894.05,128082.96,0.179,286.0,1280.0,276.0,2503.126,4.476,464.069
04,1091108.06,244782.40,0.224,385.0,1838.0,382.0,2834.047,4.774,640.792
05,632149.11,122624.88,0.194,211.0,995.0,207.0,2995.967,4.716,592.391
06,1172810.00,261190.54,0.223,357.0,1152.0,352.0,3285.182,3.227,742.019
07,2281120.64,508401.34,0.223,700.0,2530.0,689.0,3258.744,3.614,737.883
08,3342056.46,701128.34,0.210,1146.0,3745.0,1123.0,2916.280,3.268,624.335
09,3651271.56,831013.92,0.228,1160.0,4204.0,1139.0,3147.648,3.624,729.600
10,14003128.83,3166572.07,0.226,4392.0,15188.0,4184.0,3188.326,3.458,756.829
11,15154022.38,3467882.53,0.229,4741.0,17732.0,4543.0,3196.377,3.740,763.346
12,17406973.10,3982264.90,0.229,5269.0,20362.0,5038.0,3303.658,3.864,790.446
13,12764500.80,2925280.74,0.229,3987.0,15040.0,3832.0,3201.530,3.772,763.382
14,17632241.34,4042033.51,0.229,5536.0,20918.0,5279.0,3185.015,3.779,765.682
15,17374615.18,4021366.94,0.231,5702.0,20975.0,5463.0,3047.109,3.679,736.110
16,16289593.87,3743807.43,0.230,5210.0,20600.0,4979.0,3126.602,3.954,751.920
17,16579662.86,3890734.88,0.235,5334.0,20902.0,5095.0,3108.298,3.919,763.638
18,17381694.33,4090760.00,0.235,5306.0,18673.0,5064.0,3275.856,3.519,807.812
19,15136807.37,3591203.48,0.237,4639.0,17127.0,4443.0,3262.946,3.692,808.283
20,13014636.13,2884735.61,0.222,4426.0,16607.0,4258.0,2940.496,3.752,677.486
21,12226086.06,2698784.26,0.221,4245.0,17050.0,4061.0,2880.115,4.016,664.562
22,11271494.29,2376121.34,0.211,4104.0,16749.0,3895.0,2746.465,4.081,610.044
23,10152663.97,2172175.27,0.214,3623.0,16299.0,3451.0,2802.281,4.499,629.434

## Итог

In [90]:
df_clean.to_excel("выкупленные.xlsx")

In [89]:
df_without_delivery.to_excel("расставленные.xlsx")